.middle-container-topSection {
  border: 1px solid black;
  width: 100%;
  display: flex;
  gap: 1.875rem;
}

.atm-card-left-container {
  border: 1px solid red;
  flex: 3;
}

.atm-card-right-container {
  border: 1px solid blue;
  flex: 1;
}

.Heading-Bar-Sec {
  border: 1px solid hotpink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

.ATM {
  border: 1px solid green;
}
