.container {
  width: 100%;
}

.financial-detail-section {
  width: 100%;
  display: flex;
  gap: 10px;
}

.my-cards {
  /* flex: 2; */
  width: 70%;
}

.card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.my-cards-body {
  width: 100%;
  overflow-x: scroll;
}
.card-scroller {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.cards {
  flex: 0 0 auto; /* Disable flex shrink and growth */
  min-width: 200px; /* Minimum width */
  min-height: 100px; /* Minimum height */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.my-transaction {
  /* flex: 1; */
  width: 30%;
}
